* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Header;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/PixAntiqua.woff2') format('woff2');
}

@font-face {
	font-family: Regular;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/MartianMono-StdLt.woff2') format('woff2');
}

:root {
	--font-size-xs: 1.125rem;
	--font-size-s: 1.5rem;
	--font-size-m: 2rem;
	--font-size-l: 3rem;
	--font-size-xl: 4rem;
	--font-size-xxl: 6rem;
	--font-stack: 'Regular', sans-serif;

	--line-height-normal: 1.7;
	--line-height-small: 1.2;

	--color-vibe: #00f0b5;					/* seagreencrayola */
	--color-back: #1a1423;					/* xiketic */
	--color-back-transparent: #1a1423c0;	/* xiketic */
	--color-front: #ede6e3;					/* platinum */

	--color-vibe-filter: invert(62%) sepia(92%) saturate(877%) hue-rotate(114deg) brightness(101%) contrast(102%);
	--color-front-filter: invert(91%) sepia(9%) saturate(305%) hue-rotate(320deg) brightness(106%) contrast(86%);

	--container-max-width: 1280px;
	--container-medium-width: 700px; 
	--container-small-width: 500px;

	--gutter-medium: 6rem;
	--gutter-normal: 3rem;
	--gutter-small-1: 2.5rem;
	--gutter-small: 2rem;

	--default-transition: all 0.15s cubic-bezier(1, 0.68, 0.16, 0.9);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: var(--font-size-s);
	font-family: var(--font-stack);
	font-weight: 400;
	color: var(--color-front);
	line-height: var(--line-height-normal);
	background: var(--color-back);
	overflow-x: hidden;
}

.row {
	max-width: var(--container-max-width);
	margin: 0 auto;
}

@media(max-width: 1340px) {
	.row {
		max-width: 1100px;
	}
}

@media(max-width: 1240px) {
	.row {
		padding: 0 var(--gutter-medium);
	}
}

@media(max-width: 600px) {
	.row {
		padding: 0 var(--gutter-normal);
	}
}

@media(max-width: 600px) {
	.row {
		padding: 0 var(--gutter-small);
	}
}

section {
	padding: var(--gutter-medium) 0;
}

img {
	object-fit: contain;
	max-width: 100%;
	max-height: auto; 
}

video {
	object-fit: contain;
	max-width: 100%; 
}

iframe {
	object-fit: contain;
	max-width: 100%; 
}

/* ----- Headlines and Paragraphs ----- */

h1,
h2,
h3 {
	font-family: 'Header', sans-serif;
	font-weight: 400;
	line-height: var(--line-height-small);
	color: var(--color-front);
}

.heading-primary {
	line-height: 1;
	font-size: var(--font-size-xxl);
	font-weight: 400;
}

@media(max-width: 900px) {
	.heading-primary {
		font-size:  var(--font-size-xl);
	}
}

h2 {
	font-size: var(--font-size-xl);
	margin-bottom: var(--gutter-medium);
}

h3 {
	font-size: var(--font-size-l);
}

h4 {
	font-style: italic;
	font-size: var(--font-size-s);
}

@media(max-width: 500px) {
	.heading-primary {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-l);
	}

	h3 {
		font-size: var(--font-size-m);
	}
}

p {
	margin: var(--gutter-small-1) 0;
}

@media(max-width: 900px) {
	p { 
		max-width: var(--container-small-width);
	}
}

div.caption {
	margin-bottom: var(--gutter-small-1);
}

div.email > span:nth-child(2) {
	display: none;
}


/* ----- Buttons and Links ----- */

::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a {
	color: var(--color-front);
	transition: var(--default-transition)
}

a:hover {
	color: var(--color-vibe);
}

.btn {
	position: relative;
	display: inline-block;
	padding: 1rem 4.2rem;
	text-decoration: none;
	color: inherit;
	border: 1px solid  var(--color-vibe);
	font-weight: 400;
	font-size: var(--font-size-s);
}

.btn::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: var(--color-vibe);
	height: 100%;
	opacity: 0%;
	z-index: -1;
	transition: var(--default-transition);
}

.btn:hover {
	color: var(--color-back);
}

.btn:hover::after {
	opacity: 100%;
	background: var(--color-vibe);
}

.btn__icon {
	display: block;
	height: 4rem;
	transition: var(--default-transition);
	filter: var(--color-front-filter);
}

.btn__icon:hover {
	filter: var(--color-vibe-filter);
}


/* ----- Navigation ----- */

.nav {
	display: flex;
	justify-content: flex-end;
	padding: var(--gutter-normal) 0;
	font-size: var(--font-size-m);
}

.nav__items {
	display: flex;
	list-style: none;
	z-index:1;
}

.nav__item:not(:last-child) {
	margin-right: var(--gutter-medium);
}

@media(max-width: 500px) {
	.nav {
		justify-content: center;
		font-size: var(--font-size-s);
	}
}

@media(max-width: 400px) {
	.nav__item:not(:last-child) {
		margin-right: var(--gutter-normal);
	}
}

.nav__link {
	position: relative;
	display: inline-block;
	padding: 1rem 0;
	text-decoration: none;
	color: inherit;
	transition: var(--default-transition);
}

.nav__link:hover {
	color: var(--color-vibe);
}


/* ----- Header ----- */

#glslCanvas {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 80vmin;
	height: 80vmin;
	z-index: 0;
}

.header {
	background: var(--color-back);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-size: var(--font-size-m);
}

.header__text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.header__text p {
	margin: 1.5rem 0 3.5rem;
	max-width: var(--container-medium-width);
	font-family: 'Regular', sans-serif;
}

@media(max-width: 500px) {
	.header {
		text-align: center;
	}

	.header__text p {
		transform: scale(.8);
	}
}

/* ----- Work ----- */

.work__boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
	width: 100%;
}

.work__box {
	position:relative;
	margin: 1rem;
}

.work__image-box {
	width: 32rem;
	height: 32rem;
	position: relative;
	font-size: 0;
	line-height: 0;
	outline: 2px solid transparent;
	transition: var(--default-transition);

	img {
		width: 100%;
		height: 100%;
	}
}

.work__image__bottom {
	position: absolute;
	transition: var(--default-transition);
}

.work__image__top {
	transition: var(--default-transition);
}

.work__image-box:hover {
	outline: 2px solid var(--color-front);
}

.work__image-box:hover .work__image__top {
	opacity: 0%;
}

.work__image__textbox {
	position: absolute;
	line-height: 1.5;
	margin: 16px;
	color: var(--color-front);
	background-color: var(--color-back-transparent);
	font-size: var(--font-size-s);
	z-index:1;
}

/* ----- Project ----- */

.proj__box {
	display: flex;
	align-items: initial;
}

@media(max-width: 900px) {
	.proj__box {
		align-items: initial;
		flex-direction: column-reverse;
	}
}

.proj__box:not(:last-child) {
	margin-bottom: 25rem;
}

@media(max-width: 500px) {
	.proj__box:not(:last-child) {
		margin-bottom: 20rem;
	}
}

.proj__links {
	display: flex;
	align-items: center;
}

.proj__links > * {
	margin-right: var(--gutter-normal);
}

.proj__text {
	flex: 0 0 40%;
}

.proj__image-box {
	margin-bottom: var(--gutter-normal);
	font-size: var(--font-size-xs);
	text-align:center;
	align-items: start;
}

@media(min-width: 901px) {
	.proj__image-box {
		display: flex;
		flex-wrap: wrap;
		align-items: column;
		margin: 0 0 0 6rem;
	}
}


/* ----- About ----- */

.about__content {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

@media(max-width: 900px) {
	.about__content {
		flex-direction: column-reverse;
		align-items: initial;
	}
}

.about__photo-container {
	margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
	.about__text {
		flex: 0 0 40%;
	}

	.about__photo-container {
		max-width: 480px;
		flex: 1;
		margin: 0 16rem 0 0;
	}
}

@media(min-width: 901px) {
	.contact__info {
		max-width: 100%;
	}
}

@media(min-width: 900px) {
	.contact__info {
		max-width: 60%;
	}
}

/*.contact__info { 
	max-width: 60%;
}*/


/* ----- Footer ----- */

.footer {
	text-align: center;
	padding: var(--gutter-medium) 0 var(--gutter-normal);
}

@media(max-width: 500px) {
	.footer {
		padding: var(--gutter-medium) 0;
	} 
}

.footer__social-links {
	display: flex;
	justify-content: center;
	padding: var(--gutter-normal) 0;
	list-style: none;
}

.footer__social-links > * {
	margin-right: var(--gutter-small);
}
