@font-face {
	font-family: Bold;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../../fonts/MonaspaceKrypton-Bold.woff2') format('woff2');
}

.glslGallery 
{
	-moz-column-width: 16em;
	-webkit-column-width: 16em;
}

.glslGallery_openFrameIcon 
{
	display: none;
}

.glslGallery_item 
{
	margin-bottom:32px;
	margin-right:32px;
}

.header
{
	font-family:'Bold';
	font-size:64px;
	color:#11151C;
	margin-left:64px;
	margin-bottom:0px;
}
